In [66]:
import pandas as pd

Fonction

Liste des csv :
OrderPayments,OrdersItems,OrderData,OrderReviews

In [67]:
dfOrderPayements= pd.read_csv("../../archive/olist_order_payments_dataset.csv")

In [68]:
dfOrderItems = pd.read_csv("../../archive/olist_order_items_dataset.csv")

In [69]:
dfOrderData = pd.read_csv("../../archive/olist_orders_dataset.csv")

In [70]:
dfOrderReviews = pd.read_csv("../../archive/olist_order_reviews_dataset.csv")

Nettoyage OrderPayements

In [71]:
dfOrderPayements.isnull().sum()

order_id                0
payment_sequential      0
payment_type            0
payment_installments    0
payment_value           0
dtype: int64

In [72]:
len(dfOrderPayements)

103886

In [73]:
dfOrderPayementsClean =  dfOrderPayements.drop_duplicates()

In [74]:
dfOrderPayements.drop("payment_sequential", axis=1, inplace=True)

In [75]:
dfOrderPayements.drop("payment_installments", axis=1, inplace=True)

In [76]:
dfOrderPayements.drop("payment_value", axis=1, inplace=True)

In [77]:
dfOrderPayements.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 103886 entries, 0 to 103885
Data columns (total 2 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   order_id      103886 non-null  object
 1   payment_type  103886 non-null  object
dtypes: object(2)
memory usage: 1.6+ MB

Nettoyage OrderItems

In [78]:
dfOrderItems.isnull().sum()

order_id               0
order_item_id          0
product_id             0
seller_id              0
shipping_limit_date    0
price                  0
freight_value          0
dtype: int64

In [79]:
dfOrderItems.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 112650 entries, 0 to 112649
Data columns (total 7 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   order_id             112650 non-null  object
 1   order_item_id        112650 non-null  int64
 2   product_id           112650 non-null  object
 3   seller_id            112650 non-null  object
 4   shipping_limit_date  112650 non-null  object
 5   price                112650 non-null  float64
 6   freight_value        112650 non-null  float64
dtypes: float64(2), int64(1), object(4)
memory usage: 6.0+ MB

In [80]:
dfOrderItemsClean = dfOrderItems.drop_duplicates()

In [81]:
len(dfOrderItemsClean)

112650

NettoyageOrderData

In [82]:
dfOrderData.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99441 entries, 0 to 99440
Data columns (total 8 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   order_id                       99441 non-null  object
 1   customer_id                    99441 non-null  object
 2   order_status                   99441 non-null  object
 3   order_purchase_timestamp       99441 non-null  object
 4   order_approved_at              99281 non-null  object
 5   order_delivered_carrier_date   97658 non-null  object
 6   order_delivered_customer_date  96476 non-null  object
 7   order_estimated_delivery_date  99441 non-null  object
dtypes: object(8)
memory usage: 6.1+ MB

In [83]:
dfOrderDataClean = dfOrderData.drop_duplicates()

In [84]:
len(dfOrderDataClean)

99441

In [85]:
dfOrderData.drop("order_status", axis=1, inplace=True)

In [86]:
dfOrderData.drop("order_purchase_timestamp", axis=1, inplace=True)

In [87]:
dfOrderData.drop("order_approved_at", axis=1, inplace=True)

In [88]:
dfOrderData.drop("order_delivered_carrier_date", axis=1, inplace=True)

In [89]:
dfOrderData.drop("order_delivered_customer_date", axis=1, inplace=True)

In [90]:
dfOrderData.drop("order_estimated_delivery_date", axis=1, inplace=True)

In [91]:
dfOrderData.describe()

                                order_id                       customer_id
count                              99441                             99441
unique                             99441                             99441
top     e481f51cbdc54678b7cc49136f2d6af7  9ef432eb6251297304e76186b10a928d
freq                                   1                                 1

In [92]:
dfOrderData.isnull().sum()

order_id       0
customer_id    0
dtype: int64

Nettoyage OrderReviews

In [93]:
dfOrderReviews.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99224 entries, 0 to 99223
Data columns (total 7 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   review_id                99224 non-null  object
 1   order_id                 99224 non-null  object
 2   review_score             99224 non-null  int64
 3   review_comment_title     11568 non-null  object
 4   review_comment_message   40977 non-null  object
 5   review_creation_date     99224 non-null  object
 6   review_answer_timestamp  99224 non-null  object
dtypes: int64(1), object(6)
memory usage: 5.3+ MB

In [94]:
dfOrderReviewsClean = dfOrderReviews.drop_duplicates()

In [95]:
len(dfOrderReviewsClean)

99224

In [96]:
dfOrderReviews.drop("review_comment_title", axis=1, inplace=True)

In [97]:
dfOrderReviews.drop("review_id", axis=1, inplace=True)

In [98]:
dfOrderReviews.drop("review_comment_message", axis=1, inplace=True)

In [99]:
dfOrderReviews.drop("review_creation_date", axis=1, inplace=True)

In [100]:
dfOrderReviews.drop("review_answer_timestamp", axis=1, inplace=True)

In [101]:
dfOrderReviews.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99224 entries, 0 to 99223
Data columns (total 2 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   order_id      99224 non-null  object
 1   review_score  99224 non-null  int64
dtypes: int64(1), object(1)
memory usage: 1.5+ MB

In [102]:
dfOrderReviews.isnull().sum()

order_id        0
review_score    0
dtype: int64

Merge des dataFrames orders

In [103]:

dfOrderItems = dfOrderItems.sort_values('order_item_id', ascending=False).drop_duplicates(subset='order_id').sort_index()

In [104]:
dfOrderItems['price'] = dfOrderItems['price'] * dfOrderItems['order_item_id']

In [105]:
dfOrderItems['freight_value'] = dfOrderItems['freight_value'] * dfOrderItems['order_item_id']

In [106]:
dfOrderItems['totalPrice'] = dfOrderItems['price'] + dfOrderItems['freight_value']

In [107]:
dfOrderItems.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 98666 entries, 0 to 112649
Data columns (total 8 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   order_id             98666 non-null  object
 1   order_item_id        98666 non-null  int64
 2   product_id           98666 non-null  object
 3   seller_id            98666 non-null  object
 4   shipping_limit_date  98666 non-null  object
 5   price                98666 non-null  float64
 6   freight_value        98666 non-null  float64
 7   totalPrice           98666 non-null  float64
dtypes: float64(3), int64(1), object(4)
memory usage: 6.8+ MB

In [108]:
dfOrderItems['price'] = dfOrderItems['price'].round(2)

In [109]:
dfOrderItems['freight_value'] = dfOrderItems['freight_value'].round(2)

In [110]:
dfOrderItems['totalPrice'] = dfOrderItems['totalPrice'].round(2)

In [111]:
dfOrderItems.to_csv("order_items_clear.csv",index=False)

In [112]:
dfOrderReviews.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99224 entries, 0 to 99223
Data columns (total 2 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   order_id      99224 non-null  object
 1   review_score  99224 non-null  int64
dtypes: int64(1), object(1)
memory usage: 1.5+ MB

In [113]:
dfOrderReviews.isnull().sum()

order_id        0
review_score    0
dtype: int64

In [114]:
dfOrderItemsMerge = pd.merge(dfOrderItems, dfOrderReviews, on='order_id', how='left')

In [115]:
dfOrderItemsMerge.isnull().sum()

order_id                 0
order_item_id            0
product_id               0
seller_id                0
shipping_limit_date      0
price                    0
freight_value            0
totalPrice               0
review_score           749
dtype: int64

In [116]:
dfOrderItemsMerge = dfOrderItemsMerge.dropna()

In [117]:
dfOrderItemsMerge.isnull().sum()

order_id               0
order_item_id          0
product_id             0
seller_id              0
shipping_limit_date    0
price                  0
freight_value          0
totalPrice             0
review_score           0
dtype: int64

In [118]:
dfOrderItemsMerge = pd.merge(dfOrderItemsMerge, dfOrderData, on='order_id', how='left')

In [119]:
dfOrderItemsMerge.head()

,order_id,order_item_id,product_id,seller_id,shipping_limit_date,price,freight_value,totalPrice,review_score,customer_id
0,00010242fe8c5a6d1ba2dd792cb16214,1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,2017-09-19 09:45:35,58.90,13.29,72.19,5.0,3ce436f183e68e07877b285a838db11a
1,00018f77f2f0320c557190d7a144bdd3,1,e5f2d52b802189ee658865ca93d83a8f,dd7ddc04e1b6c2c614352b383efe2d36,2017-05-03 11:05:13,239.90,19.93,259.83,4.0,f6dd3ec061db4e3987629fe6b26e5cce
2,000229ec398224ef6ca0657da4fc703e,1,c777355d18b72b67abbeef9df44fd0fd,5b51032eddd242adc84c38acab88f23d,2018-01-18 14:48:30,199.00,17.87,216.87,5.0,6489ae5e4333f3693df5ad4372dab6d3
3,00024acbcdf0a6daa1e931b038114c75,1,7634da152a4610f1595efa32f14722fc,9d7a1d34a5052409006425275ba1c2b4,2018-08-15 10:10:18,12.99,12.79,25.78,4.0,d4eb9395c8c0431ee92fce09860c5a06
4,00042b26cf59d7ce69dfabb4e55b4fd9,1,ac6c3623068f30de03045865e4e10089,df560393f3a51e74553ab94004ba5c87,2017-02-13 13:57:51,199.90,18.14,218.04,5.0,58dbd0b2d70206bf40e62cd34e84d795

In [120]:
dfOrderItemsMerge = pd.merge(dfOrderItemsMerge, dfOrderPayements, on='order_id', how='left')

In [121]:
dfOrderItemsMerge = dfOrderItemsMerge.dropna()

In [122]:
dfOrderItemsMerge.head()

,order_id,order_item_id,product_id,seller_id,shipping_limit_date,price,freight_value,totalPrice,review_score,customer_id,payment_type
0,00010242fe8c5a6d1ba2dd792cb16214,1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,2017-09-19 09:45:35,58.90,13.29,72.19,5.0,3ce436f183e68e07877b285a838db11a,credit_card
1,00018f77f2f0320c557190d7a144bdd3,1,e5f2d52b802189ee658865ca93d83a8f,dd7ddc04e1b6c2c614352b383efe2d36,2017-05-03 11:05:13,239.90,19.93,259.83,4.0,f6dd3ec061db4e3987629fe6b26e5cce,credit_card
2,000229ec398224ef6ca0657da4fc703e,1,c777355d18b72b67abbeef9df44fd0fd,5b51032eddd242adc84c38acab88f23d,2018-01-18 14:48:30,199.00,17.87,216.87,5.0,6489ae5e4333f3693df5ad4372dab6d3,credit_card
3,00024acbcdf0a6daa1e931b038114c75,1,7634da152a4610f1595efa32f14722fc,9d7a1d34a5052409006425275ba1c2b4,2018-08-15 10:10:18,12.99,12.79,25.78,4.0,d4eb9395c8c0431ee92fce09860c5a06,credit_card
4,00042b26cf59d7ce69dfabb4e55b4fd9,1,ac6c3623068f30de03045865e4e10089,df560393f3a51e74553ab94004ba5c87,2017-02-13 13:57:51,199.90,18.14,218.04,5.0,58dbd0b2d70206bf40e62cd34e84d795,credit_card

In [123]:
dfOrderItemsMerge.isnull().sum()

order_id               0
order_item_id          0
product_id             0
seller_id              0
shipping_limit_date    0
price                  0
freight_value          0
totalPrice             0
review_score           0
customer_id            0
payment_type           0
dtype: int64