In [89]:
import pandas as pd

Fonction

Liste des csv :
OrderPayments,OrdersItems,OrderData,OrderReviews

In [90]:
dfOrderPayements= pd.read_csv("../../archive/olist_order_payments_dataset.csv")

In [91]:
dfOrderItems = pd.read_csv("../../archive/olist_order_items_dataset.csv")

In [92]:
dfOrderData = pd.read_csv("../../archive/olist_orders_dataset.csv")

In [93]:
dfOrderReviews = pd.read_csv("../../archive/olist_order_reviews_dataset.csv")

Nettoyage OrderPayements

In [94]:
dfOrderPayements.isnull().sum()

order_id                0
payment_sequential      0
payment_type            0
payment_installments    0
payment_value           0
dtype: int64

In [95]:
len(dfOrderPayements)

103886

In [96]:
dfOrderPayementsClean =  dfOrderPayements.drop_duplicates()

In [97]:
dfOrderPayements.drop("payment_value", axis=1, inplace=True)

In [98]:
dfOrderPayements.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 103886 entries, 0 to 103885
Data columns (total 4 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   order_id              103886 non-null  object
 1   payment_sequential    103886 non-null  int64
 2   payment_type          103886 non-null  object
 3   payment_installments  103886 non-null  int64
dtypes: int64(2), object(2)
memory usage: 3.2+ MB

Nettoyage OrderItems

In [99]:
dfOrderItems.isnull().sum()

order_id               0
order_item_id          0
product_id             0
seller_id              0
shipping_limit_date    0
price                  0
freight_value          0
dtype: int64

In [100]:
dfOrderItems.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 112650 entries, 0 to 112649
Data columns (total 7 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   order_id             112650 non-null  object
 1   order_item_id        112650 non-null  int64
 2   product_id           112650 non-null  object
 3   seller_id            112650 non-null  object
 4   shipping_limit_date  112650 non-null  object
 5   price                112650 non-null  float64
 6   freight_value        112650 non-null  float64
dtypes: float64(2), int64(1), object(4)
memory usage: 6.0+ MB

In [101]:
dfOrderItemsClean = dfOrderItems.drop_duplicates()

In [102]:
len(dfOrderItemsClean)

112650

NettoyageOrderData

In [103]:
dfOrderData.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99441 entries, 0 to 99440
Data columns (total 8 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   order_id                       99441 non-null  object
 1   customer_id                    99441 non-null  object
 2   order_status                   99441 non-null  object
 3   order_purchase_timestamp       99441 non-null  object
 4   order_approved_at              99281 non-null  object
 5   order_delivered_carrier_date   97658 non-null  object
 6   order_delivered_customer_date  96476 non-null  object
 7   order_estimated_delivery_date  99441 non-null  object
dtypes: object(8)
memory usage: 6.1+ MB

In [104]:
dfOrderDataClean = dfOrderData.drop_duplicates()

In [105]:
len(dfOrderDataClean)

99441

In [106]:
dfOrderData.drop("order_status", axis=1, inplace=True)

In [107]:
dfOrderData.drop("order_purchase_timestamp", axis=1, inplace=True)

In [108]:
dfOrderData.drop("order_approved_at", axis=1, inplace=True)

In [109]:
dfOrderData.drop("order_delivered_carrier_date", axis=1, inplace=True)

In [110]:
dfOrderData.drop("order_delivered_customer_date", axis=1, inplace=True)

In [111]:
dfOrderData.drop("order_estimated_delivery_date", axis=1, inplace=True)

In [112]:
dfOrderData.describe()

                                order_id                       customer_id
count                              99441                             99441
unique                             99441                             99441
top     e481f51cbdc54678b7cc49136f2d6af7  9ef432eb6251297304e76186b10a928d
freq                                   1                                 1

In [113]:
dfOrderData.isnull().sum()

order_id       0
customer_id    0
dtype: int64

Nettoyage OrderReviews

In [114]:
dfOrderReviews.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99224 entries, 0 to 99223
Data columns (total 7 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   review_id                99224 non-null  object
 1   order_id                 99224 non-null  object
 2   review_score             99224 non-null  int64
 3   review_comment_title     11568 non-null  object
 4   review_comment_message   40977 non-null  object
 5   review_creation_date     99224 non-null  object
 6   review_answer_timestamp  99224 non-null  object
dtypes: int64(1), object(6)
memory usage: 5.3+ MB

In [115]:
dfOrderReviewsClean = dfOrderReviews.drop_duplicates()

In [116]:
len(dfOrderReviewsClean)

99224

In [117]:
dfOrderReviews.drop("review_comment_title", axis=1, inplace=True)

In [118]:
dfOrderReviews.drop("review_id", axis=1, inplace=True)

In [119]:
dfOrderReviews.drop("review_comment_message", axis=1, inplace=True)

In [120]:
dfOrderReviews.drop("review_creation_date", axis=1, inplace=True)

In [121]:
dfOrderReviews.drop("review_answer_timestamp", axis=1, inplace=True)

In [122]:
dfOrderReviews.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99224 entries, 0 to 99223
Data columns (total 2 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   order_id      99224 non-null  object
 1   review_score  99224 non-null  int64
dtypes: int64(1), object(1)
memory usage: 1.5+ MB

In [123]:
dfOrderReviews.isnull().sum()

order_id        0
review_score    0
dtype: int64

Merge des dataFrames orders

In [124]:

dfOrderItems = dfOrderItems.sort_values('order_item_id', ascending=False).drop_duplicates(subset='order_id').sort_index()

In [125]:
dfOrderItems['price'] = dfOrderItems['price'] * dfOrderItems['order_item_id']

In [126]:
dfOrderItems['freight_value'] = dfOrderItems['freight_value'] * dfOrderItems['order_item_id']

In [127]:
dfOrderItems['totalPrice'] = dfOrderItems['price'] + dfOrderItems['freight_value']

In [128]:
dfOrderItems.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 98666 entries, 0 to 112649
Data columns (total 8 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   order_id             98666 non-null  object
 1   order_item_id        98666 non-null  int64
 2   product_id           98666 non-null  object
 3   seller_id            98666 non-null  object
 4   shipping_limit_date  98666 non-null  object
 5   price                98666 non-null  float64
 6   freight_value        98666 non-null  float64
 7   totalPrice           98666 non-null  float64
dtypes: float64(3), int64(1), object(4)
memory usage: 6.8+ MB

In [129]:
dfOrderItems['price'] = dfOrderItems['price'].round(2)

In [130]:
dfOrderItems['freight_value'] = dfOrderItems['freight_value'].round(2)

In [131]:
dfOrderItems['totalPrice'] = dfOrderItems['totalPrice'].round(2)

In [132]:
dfOrderItems.to_csv("order_items_clear.csv",index=False)

In [133]:
dfOrderReviews.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99224 entries, 0 to 99223
Data columns (total 2 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   order_id      99224 non-null  object
 1   review_score  99224 non-null  int64
dtypes: int64(1), object(1)
memory usage: 1.5+ MB

In [134]:
dfOrderReviews.isnull().sum()

order_id        0
review_score    0
dtype: int64

In [135]:
dfOrderItemsMerge = pd.merge(dfOrderItems, dfOrderReviews, on='order_id', how='left')

In [136]:
dfOrderItemsMerge.isnull().sum()

order_id                 0
order_item_id            0
product_id               0
seller_id                0
shipping_limit_date      0
price                    0
freight_value            0
totalPrice               0
review_score           749
dtype: int64

In [137]:
dfOrderItemsMerge = dfOrderItemsMerge.dropna()

In [138]:
dfOrderItemsMerge.isnull().sum()

order_id               0
order_item_id          0
product_id             0
seller_id              0
shipping_limit_date    0
price                  0
freight_value          0
totalPrice             0
review_score           0
dtype: int64

In [139]:
dfOrderItemsMerge = pd.merge(dfOrderItemsMerge, dfOrderData, on='order_id', how='left')

In [140]:
dfOrderItemsMerge.head()

,order_id,order_item_id,product_id,seller_id,shipping_limit_date,price,freight_value,totalPrice,review_score,customer_id
0,00010242fe8c5a6d1ba2dd792cb16214,1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,2017-09-19 09:45:35,58.90,13.29,72.19,5.0,3ce436f183e68e07877b285a838db11a
1,00018f77f2f0320c557190d7a144bdd3,1,e5f2d52b802189ee658865ca93d83a8f,dd7ddc04e1b6c2c614352b383efe2d36,2017-05-03 11:05:13,239.90,19.93,259.83,4.0,f6dd3ec061db4e3987629fe6b26e5cce
2,000229ec398224ef6ca0657da4fc703e,1,c777355d18b72b67abbeef9df44fd0fd,5b51032eddd242adc84c38acab88f23d,2018-01-18 14:48:30,199.00,17.87,216.87,5.0,6489ae5e4333f3693df5ad4372dab6d3
3,00024acbcdf0a6daa1e931b038114c75,1,7634da152a4610f1595efa32f14722fc,9d7a1d34a5052409006425275ba1c2b4,2018-08-15 10:10:18,12.99,12.79,25.78,4.0,d4eb9395c8c0431ee92fce09860c5a06
4,00042b26cf59d7ce69dfabb4e55b4fd9,1,ac6c3623068f30de03045865e4e10089,df560393f3a51e74553ab94004ba5c87,2017-02-13 13:57:51,199.90,18.14,218.04,5.0,58dbd0b2d70206bf40e62cd34e84d795

In [141]:
dfOrderItemsMerge = pd.merge(dfOrderItemsMerge, dfOrderPayements, on='order_id', how='left')

In [142]:
dfOrderItemsMerge = dfOrderItemsMerge.dropna()

In [143]:
dfOrderItemsMerge.head()

,order_id,order_item_id,product_id,seller_id,shipping_limit_date,price,freight_value,totalPrice,review_score,customer_id,payment_sequential,payment_type,payment_installments
0,00010242fe8c5a6d1ba2dd792cb16214,1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,2017-09-19 09:45:35,58.90,13.29,72.19,5.0,3ce436f183e68e07877b285a838db11a,1.0,credit_card,2.0
1,00018f77f2f0320c557190d7a144bdd3,1,e5f2d52b802189ee658865ca93d83a8f,dd7ddc04e1b6c2c614352b383efe2d36,2017-05-03 11:05:13,239.90,19.93,259.83,4.0,f6dd3ec061db4e3987629fe6b26e5cce,1.0,credit_card,3.0
2,000229ec398224ef6ca0657da4fc703e,1,c777355d18b72b67abbeef9df44fd0fd,5b51032eddd242adc84c38acab88f23d,2018-01-18 14:48:30,199.00,17.87,216.87,5.0,6489ae5e4333f3693df5ad4372dab6d3,1.0,credit_card,5.0
3,00024acbcdf0a6daa1e931b038114c75,1,7634da152a4610f1595efa32f14722fc,9d7a1d34a5052409006425275ba1c2b4,2018-08-15 10:10:18,12.99,12.79,25.78,4.0,d4eb9395c8c0431ee92fce09860c5a06,1.0,credit_card,2.0
4,00042b26cf59d7ce69dfabb4e55b4fd9,1,ac6c3623068f30de03045865e4e10089,df560393f3a51e74553ab94004ba5c87,2017-02-13 13:57:51,199.90,18.14,218.04,5.0,58dbd0b2d70206bf40e62cd34e84d795,1.0,credit_card,3.0

In [144]:
dfOrderItemsMerge.isnull().sum()

order_id                0
order_item_id           0
product_id              0
seller_id               0
shipping_limit_date     0
price                   0
freight_value           0
totalPrice              0
review_score            0
customer_id             0
payment_sequential      0
payment_type            0
payment_installments    0
dtype: int64

In [145]:
dfCustomers = pd.read_csv("../../archive/olist_customers_dataset.csv")

In [146]:
dfCustomers.drop("customer_unique_id", axis=1, inplace=True)

In [147]:
dfOrderItemsMerge = pd.merge(dfOrderItemsMerge, dfCustomers, on='customer_id', how='left')

In [148]:
dfOrderItemsMerge.isnull().sum()

order_id                    0
order_item_id               0
product_id                  0
seller_id                   0
shipping_limit_date         0
price                       0
freight_value               0
totalPrice                  0
review_score                0
customer_id                 0
payment_sequential          0
payment_type                0
payment_installments        0
customer_zip_code_prefix    0
customer_city               0
customer_state              0
dtype: int64

In [149]:
dfSellers = pd.read_csv("../../archive/olist_sellers_dataset.csv")

In [150]:
dfOrderItemsMerge = pd.merge(dfOrderItemsMerge, dfSellers, on='seller_id', how='left')

In [151]:
dfOrderItemsMerge.isnull().sum()

order_id                    0
order_item_id               0
product_id                  0
seller_id                   0
shipping_limit_date         0
price                       0
freight_value               0
totalPrice                  0
review_score                0
customer_id                 0
payment_sequential          0
payment_type                0
payment_installments        0
customer_zip_code_prefix    0
customer_city               0
customer_state              0
seller_zip_code_prefix      0
seller_city                 0
seller_state                0
dtype: int64

In [152]:
dfNewCategorie = pd.read_csv("../../archive/categorie_reduc.csv")

In [153]:
dfNewCategorie['original']=dfNewCategorie["original"].str.split(",")

In [154]:
dfNewCategorie

,original,new_categorie
0,"[Computers_Accessories, Tablets_Printing_Imag...",Informatique et electronique
1,"[Auto, Air_Conditioning]",Automobile
2,"[Bed_Bath_Table, Housewares, Kitchen_Dining_...",Housing
3,"[Furniture_Decor, Furniture_Mattress_and_Upho...",Furniture
4,"[Sports_Leisure, Luggage_Accessories]",Sport
5,"[Perfumery, Health_Beauty]",Parfum et soin
6,"[Telephony, Fixed_Telephony, Signaling_and_S...",Telephonie et sécurite
7,"[Food_Drink, Food, Drinks, Market_Place, La_...",Nourriture et cuisine
8,"[Baby, Diapers_and_Hygiene]",Utilitaire pour bebe
9,"[Stationery, Books_General_Interest, Books_I...",Livre et papeterie
10,"[Toys, Small_Appliances, Small_Appliances_Ho...",Gadget
11,"[Fashion_Bags_Accessories, Fashion_Shoes, Fa...",Fashion
12,"[Garden_Tools, Construction_Tools_Constructio...",Quincalerie
13,"[Audio, Music, CDs_Dvds_Musicals, DVDs_Blu_...",Musique et instruments
14,"[Party_Supplies, Christmas_Supplies, Watches_...",Cadeaux
15,"[Agro_Industry_and_Commerce, Industry_Commerc...",Industrie et commerce
16,[Pet_Shop],Animalerie
17,"[Art, Arts_and_Craftmanship]",Art et manufacture

In [155]:
#dfNewCategorie['original'] = dfNewCategorie['original'].astype(str).apply(lambda x: x.lower())

In [156]:
dfNewCategorie

,original,new_categorie
0,"[Computers_Accessories, Tablets_Printing_Imag...",Informatique et electronique
1,"[Auto, Air_Conditioning]",Automobile
2,"[Bed_Bath_Table, Housewares, Kitchen_Dining_...",Housing
3,"[Furniture_Decor, Furniture_Mattress_and_Upho...",Furniture
4,"[Sports_Leisure, Luggage_Accessories]",Sport
5,"[Perfumery, Health_Beauty]",Parfum et soin
6,"[Telephony, Fixed_Telephony, Signaling_and_S...",Telephonie et sécurite
7,"[Food_Drink, Food, Drinks, Market_Place, La_...",Nourriture et cuisine
8,"[Baby, Diapers_and_Hygiene]",Utilitaire pour bebe
9,"[Stationery, Books_General_Interest, Books_I...",Livre et papeterie
10,"[Toys, Small_Appliances, Small_Appliances_Ho...",Gadget
11,"[Fashion_Bags_Accessories, Fashion_Shoes, Fa...",Fashion
12,"[Garden_Tools, Construction_Tools_Constructio...",Quincalerie
13,"[Audio, Music, CDs_Dvds_Musicals, DVDs_Blu_...",Musique et instruments
14,"[Party_Supplies, Christmas_Supplies, Watches_...",Cadeaux
15,"[Agro_Industry_and_Commerce, Industry_Commerc...",Industrie et commerce
16,[Pet_Shop],Animalerie
17,"[Art, Arts_and_Craftmanship]",Art et manufacture

In [157]:
dfNewCategorie.apply(lambda row:dict(zip(row['original'], [row['new_categorie']]*len(row['original']) )), axis=1).to_dict()

{0: {'Computers_Accessories': 'Informatique et electronique',
  ' Tablets_Printing_Image': 'Informatique et electronique',
  ' Computers': 'Informatique et electronique',
  'Consoles_Games': 'Informatique et electronique',
  'Electronics': 'Informatique et electronique'},
 1: {'Auto': 'Automobile', ' Air_Conditioning': 'Automobile'},
 2: {'Bed_Bath_Table': 'Housing',
  ' Housewares': 'Housing',
  ' Kitchen_Dining_Laundry_Garden_Furniture': 'Housing',
  '  Home_Confort': 'Housing',
  ' Home_Comfort_2': 'Housing',
  'Home_Appliances': 'Housing',
  ' Home_Appliances_2': 'Housing'},
 3: {'Furniture_Decor': 'Furniture',
  ' Furniture_Mattress_and_Upholstery': 'Furniture',
  ' Furniture_Living_Room': 'Furniture',
  ' Furniture_Bedroom': 'Furniture',
  'Office_Furniture': 'Furniture'},
 4: {'Sports_Leisure': 'Sport', ' Luggage_Accessories': 'Sport'},
 5: {'Perfumery': 'Parfum et soin', '  Health_Beauty': 'Parfum et soin'},
 6: {'Telephony': 'Telephonie et sécurite',
  ' Fixed_Telephony': 'Telephonie et sécurite',
  ' Signaling_and_Security': 'Telephonie et sécurite',
  'Security_and_Services': 'Telephonie et sécurite'},
 7: {'Food_Drink': 'Nourriture et cuisine',
  ' Food': 'Nourriture et cuisine',
  ' Drinks': 'Nourriture et cuisine',
  'Market_Place': 'Nourriture et cuisine',
  'La_Cuisine': 'Nourriture et cuisine'},
 8: {'Baby': 'Utilitaire pour bebe',
  ' Diapers_and_Hygiene': 'Utilitaire pour bebe'},
 9: {'Stationery': 'Livre et papeterie',
  ' Books_General_Interest': 'Livre et papeterie',
  ' Books_Imported': 'Livre et papeterie',
  ' Books_Technical': 'Livre et papeterie'},
 10: {'Toys': 'Gadget',
  ' Small_Appliances': 'Gadget',
  ' Small_Appliances_Home_Oven_and_Coffee': 'Gadget',
  ' Cool_Stuff': 'Gadget'},
 11: {'Fashion_Bags_Accessories': 'Fashion',
  ' Fashion_Shoes': 'Fashion',
  ' Fashion_Underwear_Beach': 'Fashion',
  ' Fashion_Sport': 'Fashion',
  ' Fashion_Childrens_Clothes': 'Fashion',
  ' Fashion_Male_Clothing': 'Fashion',
  ' Fashion_Female_Clothing': 'Fashion'},
 12: {'Garden_Tools': 'Quincalerie',
  ' Construction_Tools_Construction': 'Quincalerie',
  ' Construction_Tools_Garden': 'Quincalerie',
  ' Construction_Tools_Tools': 'Quincalerie',
  ' Construction_Tools_Lights': 'Quincalerie',
  ' Construction_Tools_Safety': 'Quincalerie',
  ' Flowers': 'Quincalerie'},
 13: {'Audio': 'Musique et instruments',
  ' Music': 'Musique et instruments',
  ' CDs_Dvds_Musicals': 'Musique et instruments',
  ' DVDs_Blu_Ray ': 'Musique et instruments',
  ' Cine_Photo': 'Musique et instruments',
  'Musical_Instruments': 'Musique et instruments'},
 14: {'Party_Supplies': 'Cadeaux',
  ' Christmas_Supplies': 'Cadeaux',
  'Watches_Gifts': 'Cadeaux'},
 15: {'Agro_Industry_and_Commerce': 'Industrie et commerce',
  ' Industry_Commerce_and_Business': 'Industrie et commerce'},
 16: {'Pet_Shop': 'Animalerie'},
 17: {'Art': 'Art et manufacture',
  ' Arts_and_Craftmanship': 'Art et manufacture'}}

In [158]:
d = {}
for k, v in dfNewCategorie.apply(lambda row: dict(zip(row['original'], [row['new_categorie']]*len(row['original']))), axis=1).to_dict().items(): 
    d.update(v) 


d

{'Computers_Accessories': 'Informatique et electronique',
 ' Tablets_Printing_Image': 'Informatique et electronique',
 ' Computers': 'Informatique et electronique',
 'Consoles_Games': 'Informatique et electronique',
 'Electronics': 'Informatique et electronique',
 'Auto': 'Automobile',
 ' Air_Conditioning': 'Automobile',
 'Bed_Bath_Table': 'Housing',
 ' Housewares': 'Housing',
 ' Kitchen_Dining_Laundry_Garden_Furniture': 'Housing',
 '  Home_Confort': 'Housing',
 ' Home_Comfort_2': 'Housing',
 'Home_Appliances': 'Housing',
 ' Home_Appliances_2': 'Housing',
 'Furniture_Decor': 'Furniture',
 ' Furniture_Mattress_and_Upholstery': 'Furniture',
 ' Furniture_Living_Room': 'Furniture',
 ' Furniture_Bedroom': 'Furniture',
 'Office_Furniture': 'Furniture',
 'Sports_Leisure': 'Sport',
 ' Luggage_Accessories': 'Sport',
 'Perfumery': 'Parfum et soin',
 '  Health_Beauty': 'Parfum et soin',
 'Telephony': 'Telephonie et sécurite',
 ' Fixed_Telephony': 'Telephonie et sécurite',
 ' Signaling_and_Security': 'Telephonie et sécurite',
 'Security_and_Services': 'Telephonie et sécurite',
 'Food_Drink': 'Nourriture et cuisine',
 ' Food': 'Nourriture et cuisine',
 ' Drinks': 'Nourriture et cuisine',
 'Market_Place': 'Nourriture et cuisine',
 'La_Cuisine': 'Nourriture et cuisine',
 'Baby': 'Utilitaire pour bebe',
 ' Diapers_and_Hygiene': 'Utilitaire pour bebe',
 'Stationery': 'Livre et papeterie',
 ' Books_General_Interest': 'Livre et papeterie',
 ' Books_Imported': 'Livre et papeterie',
 ' Books_Technical': 'Livre et papeterie',
 'Toys': 'Gadget',
 ' Small_Appliances': 'Gadget',
 ' Small_Appliances_Home_Oven_and_Coffee': 'Gadget',
 ' Cool_Stuff': 'Gadget',
 'Fashion_Bags_Accessories': 'Fashion',
 ' Fashion_Shoes': 'Fashion',
 ' Fashion_Underwear_Beach': 'Fashion',
 ' Fashion_Sport': 'Fashion',
 ' Fashion_Childrens_Clothes': 'Fashion',
 ' Fashion_Male_Clothing': 'Fashion',
 ' Fashion_Female_Clothing': 'Fashion',
 'Garden_Tools': 'Quincalerie',
 ' Construction_Tools_Construction': 'Quincalerie',
 ' Construction_Tools_Garden': 'Quincalerie',
 ' Construction_Tools_Tools': 'Quincalerie',
 ' Construction_Tools_Lights': 'Quincalerie',
 ' Construction_Tools_Safety': 'Quincalerie',
 ' Flowers': 'Quincalerie',
 'Audio': 'Musique et instruments',
 ' Music': 'Musique et instruments',
 ' CDs_Dvds_Musicals': 'Musique et instruments',
 ' DVDs_Blu_Ray ': 'Musique et instruments',
 ' Cine_Photo': 'Musique et instruments',
 'Musical_Instruments': 'Musique et instruments',
 'Party_Supplies': 'Cadeaux',
 ' Christmas_Supplies': 'Cadeaux',
 'Watches_Gifts': 'Cadeaux',
 'Agro_Industry_and_Commerce': 'Industrie et commerce',
 ' Industry_Commerce_and_Business': 'Industrie et commerce',
 'Pet_Shop': 'Animalerie',
 'Art': 'Art et manufacture',
 ' Arts_and_Craftmanship': 'Art et manufacture'}

In [159]:
dic ={}
for key in d:
    new_key= key.lstrip()
    dic[new_key] = d[key]

In [160]:
dic

{'Computers_Accessories': 'Informatique et electronique',
 'Tablets_Printing_Image': 'Informatique et electronique',
 'Computers': 'Informatique et electronique',
 'Consoles_Games': 'Informatique et electronique',
 'Electronics': 'Informatique et electronique',
 'Auto': 'Automobile',
 'Air_Conditioning': 'Automobile',
 'Bed_Bath_Table': 'Housing',
 'Housewares': 'Housing',
 'Kitchen_Dining_Laundry_Garden_Furniture': 'Housing',
 'Home_Confort': 'Housing',
 'Home_Comfort_2': 'Housing',
 'Home_Appliances': 'Housing',
 'Home_Appliances_2': 'Housing',
 'Furniture_Decor': 'Furniture',
 'Furniture_Mattress_and_Upholstery': 'Furniture',
 'Furniture_Living_Room': 'Furniture',
 'Furniture_Bedroom': 'Furniture',
 'Office_Furniture': 'Furniture',
 'Sports_Leisure': 'Sport',
 'Luggage_Accessories': 'Sport',
 'Perfumery': 'Parfum et soin',
 'Health_Beauty': 'Parfum et soin',
 'Telephony': 'Telephonie et sécurite',
 'Fixed_Telephony': 'Telephonie et sécurite',
 'Signaling_and_Security': 'Telephonie et sécurite',
 'Security_and_Services': 'Telephonie et sécurite',
 'Food_Drink': 'Nourriture et cuisine',
 'Food': 'Nourriture et cuisine',
 'Drinks': 'Nourriture et cuisine',
 'Market_Place': 'Nourriture et cuisine',
 'La_Cuisine': 'Nourriture et cuisine',
 'Baby': 'Utilitaire pour bebe',
 'Diapers_and_Hygiene': 'Utilitaire pour bebe',
 'Stationery': 'Livre et papeterie',
 'Books_General_Interest': 'Livre et papeterie',
 'Books_Imported': 'Livre et papeterie',
 'Books_Technical': 'Livre et papeterie',
 'Toys': 'Gadget',
 'Small_Appliances': 'Gadget',
 'Small_Appliances_Home_Oven_and_Coffee': 'Gadget',
 'Cool_Stuff': 'Gadget',
 'Fashion_Bags_Accessories': 'Fashion',
 'Fashion_Shoes': 'Fashion',
 'Fashion_Underwear_Beach': 'Fashion',
 'Fashion_Sport': 'Fashion',
 'Fashion_Childrens_Clothes': 'Fashion',
 'Fashion_Male_Clothing': 'Fashion',
 'Fashion_Female_Clothing': 'Fashion',
 'Garden_Tools': 'Quincalerie',
 'Construction_Tools_Construction': 'Quincalerie',
 'Construction_Tools_Garden': 'Quincalerie',
 'Construction_Tools_Tools': 'Quincalerie',
 'Construction_Tools_Lights': 'Quincalerie',
 'Construction_Tools_Safety': 'Quincalerie',
 'Flowers': 'Quincalerie',
 'Audio': 'Musique et instruments',
 'Music': 'Musique et instruments',
 'CDs_Dvds_Musicals': 'Musique et instruments',
 'DVDs_Blu_Ray ': 'Musique et instruments',
 'Cine_Photo': 'Musique et instruments',
 'Musical_Instruments': 'Musique et instruments',
 'Party_Supplies': 'Cadeaux',
 'Christmas_Supplies': 'Cadeaux',
 'Watches_Gifts': 'Cadeaux',
 'Agro_Industry_and_Commerce': 'Industrie et commerce',
 'Industry_Commerce_and_Business': 'Industrie et commerce',
 'Pet_Shop': 'Animalerie',
 'Art': 'Art et manufacture',
 'Arts_and_Craftmanship': 'Art et manufacture'}

In [161]:
dfProduct = pd.read_csv("../../archive/olist_products_dataset.csv")

In [162]:
df_category = pd.read_csv('../../archive/product_category_name_translation.csv')

In [163]:
df_products_clean = dfProduct.iloc[:, :2]

In [164]:
# On crée un dictionnaire pour associer les noms originaux à leur traduction
dict_traduction = df_category.set_index('product_category_name')['product_category_name_english'].to_dict()

# On applique le dictionnaire pour traduire la colonne "product_category_name"
df_products_clean['product_category_name'] = df_products_clean['product_category_name'].map(dict_traduction)

In [165]:
df_products_clean

                             product_id      product_category_name
0      1e9e8ef04dbcff4541ed26657ea517e5                  perfumery
1      3aa071139cb16b67ca9e5dea641aaa2f                        art
2      96bd76ec8810374ed1b65e291975717f             sports_leisure
3      cef67bcfe19066a932b7673e239eb23d                       baby
4      9dc1a7de274444849c219cff195d0b71                 housewares
...                                 ...                        ...
32946  a0b7d5a992ccda646f2d34e418fff5a0            furniture_decor
32947  bf4538d88321d0fd4412a93c974510e6  construction_tools_lights
32948  9a7c6041fa9592d9d9ef6cfe62a71f8c             bed_bath_table
32949  83808703fc0706a22e264b9d75f04a2e      computers_accessories
32950  106392145fca363410d287a815be6de4             bed_bath_table

[32951 rows x 2 columns]

In [166]:
df_products_clean['product_category_name'] = df_products_clean['product_category_name'].astype(str).apply(lambda x: x.title())

In [167]:
df_products_clean.isnull().sum()

product_id               0
product_category_name    0
dtype: int64

In [168]:
df_products_clean['product_category_name'] = df_products_clean['product_category_name'].map(dic)
df_products_clean

                             product_id         product_category_name
0      1e9e8ef04dbcff4541ed26657ea517e5                Parfum et soin
1      3aa071139cb16b67ca9e5dea641aaa2f            Art et manufacture
2      96bd76ec8810374ed1b65e291975717f                         Sport
3      cef67bcfe19066a932b7673e239eb23d          Utilitaire pour bebe
4      9dc1a7de274444849c219cff195d0b71                       Housing
...                                 ...                           ...
32946  a0b7d5a992ccda646f2d34e418fff5a0                     Furniture
32947  bf4538d88321d0fd4412a93c974510e6                   Quincalerie
32948  9a7c6041fa9592d9d9ef6cfe62a71f8c                       Housing
32949  83808703fc0706a22e264b9d75f04a2e  Informatique et electronique
32950  106392145fca363410d287a815be6de4                       Housing

[32951 rows x 2 columns]

In [169]:
dfOrderItemsMerge = pd.merge(dfOrderItemsMerge, df_products_clean, on='product_id', how='left')

In [170]:
dfOrderItemsMerge.head()

,order_id,order_item_id,product_id,seller_id,shipping_limit_date,price,freight_value,totalPrice,review_score,customer_id,payment_sequential,payment_type,payment_installments,customer_zip_code_prefix,customer_city,customer_state,seller_zip_code_prefix,seller_city,seller_state,product_category_name
0,00010242fe8c5a6d1ba2dd792cb16214,1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,2017-09-19 09:45:35,58.90,13.29,72.19,5.0,3ce436f183e68e07877b285a838db11a,1.0,credit_card,2.0,28013,campos dos goytacazes,RJ,27277,volta redonda,SP,Gadget
1,00018f77f2f0320c557190d7a144bdd3,1,e5f2d52b802189ee658865ca93d83a8f,dd7ddc04e1b6c2c614352b383efe2d36,2017-05-03 11:05:13,239.90,19.93,259.83,4.0,f6dd3ec061db4e3987629fe6b26e5cce,1.0,credit_card,3.0,15775,santa fe do sul,SP,3471,sao paulo,SP,Animalerie
2,000229ec398224ef6ca0657da4fc703e,1,c777355d18b72b67abbeef9df44fd0fd,5b51032eddd242adc84c38acab88f23d,2018-01-18 14:48:30,199.00,17.87,216.87,5.0,6489ae5e4333f3693df5ad4372dab6d3,1.0,credit_card,5.0,35661,para de minas,MG,37564,borda da mata,MG,Furniture
3,00024acbcdf0a6daa1e931b038114c75,1,7634da152a4610f1595efa32f14722fc,9d7a1d34a5052409006425275ba1c2b4,2018-08-15 10:10:18,12.99,12.79,25.78,4.0,d4eb9395c8c0431ee92fce09860c5a06,1.0,credit_card,2.0,12952,atibaia,SP,14403,franca,SP,Parfum et soin
4,00042b26cf59d7ce69dfabb4e55b4fd9,1,ac6c3623068f30de03045865e4e10089,df560393f3a51e74553ab94004ba5c87,2017-02-13 13:57:51,199.90,18.14,218.04,5.0,58dbd0b2d70206bf40e62cd34e84d795,1.0,credit_card,3.0,13226,varzea paulista,SP,87900,loanda,PR,Quincalerie

In [171]:
dfOrderItemsMerge.isnull().sum()

order_id                       0
order_item_id                  0
product_id                     0
seller_id                      0
shipping_limit_date            0
price                          0
freight_value                  0
totalPrice                     0
review_score                   0
customer_id                    0
payment_sequential             0
payment_type                   0
payment_installments           0
customer_zip_code_prefix       0
customer_city                  0
customer_state                 0
seller_zip_code_prefix         0
seller_city                    0
seller_state                   0
product_category_name       3202
dtype: int64

In [172]:
dfOrderItemsMerge = dfOrderItemsMerge.dropna()

In [173]:
dfOrderPayements

,order_id,payment_sequential,payment_type,payment_installments
0,b81ef226f3fe1789b1e8b2acac839d17,1,credit_card,8
1,a9810da82917af2d9aefd1278f1dcfa0,1,credit_card,1
2,25e8ea4e93396b6fa0d3dd708e76c1bd,1,credit_card,1
3,ba78997921bbcdc1373bb41e913ab953,1,credit_card,8
4,42fdf880ba16b47b59251dd489d4441a,1,credit_card,2
...,...,...,...,...
103881,0406037ad97740d563a178ecc7a2075c,1,boleto,1
103882,7b905861d7c825891d6347454ea7863f,1,credit_card,2
103883,32609bbb3dd69b3c066a6860554a77bf,1,credit_card,1
103884,b8b61059626efa996a60be9bb9320e10,1,credit_card,5
103885,28bbae6599b09d39ca406b747b6632b1,1,boleto,1

In [174]:
dfOrderItemsMerge

,order_id,order_item_id,product_id,seller_id,shipping_limit_date,price,freight_value,totalPrice,review_score,customer_id,payment_sequential,payment_type,payment_installments,customer_zip_code_prefix,customer_city,customer_state,seller_zip_code_prefix,seller_city,seller_state,product_category_name
0,00010242fe8c5a6d1ba2dd792cb16214,1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,2017-09-19 09:45:35,58.90,13.29,72.19,5.0,3ce436f183e68e07877b285a838db11a,1.0,credit_card,2.0,28013,campos dos goytacazes,RJ,27277,volta redonda,SP,Gadget
1,00018f77f2f0320c557190d7a144bdd3,1,e5f2d52b802189ee658865ca93d83a8f,dd7ddc04e1b6c2c614352b383efe2d36,2017-05-03 11:05:13,239.90,19.93,259.83,4.0,f6dd3ec061db4e3987629fe6b26e5cce,1.0,credit_card,3.0,15775,santa fe do sul,SP,3471,sao paulo,SP,Animalerie
2,000229ec398224ef6ca0657da4fc703e,1,c777355d18b72b67abbeef9df44fd0fd,5b51032eddd242adc84c38acab88f23d,2018-01-18 14:48:30,199.00,17.87,216.87,5.0,6489ae5e4333f3693df5ad4372dab6d3,1.0,credit_card,5.0,35661,para de minas,MG,37564,borda da mata,MG,Furniture
3,00024acbcdf0a6daa1e931b038114c75,1,7634da152a4610f1595efa32f14722fc,9d7a1d34a5052409006425275ba1c2b4,2018-08-15 10:10:18,12.99,12.79,25.78,4.0,d4eb9395c8c0431ee92fce09860c5a06,1.0,credit_card,2.0,12952,atibaia,SP,14403,franca,SP,Parfum et soin
4,00042b26cf59d7ce69dfabb4e55b4fd9,1,ac6c3623068f30de03045865e4e10089,df560393f3a51e74553ab94004ba5c87,2017-02-13 13:57:51,199.90,18.14,218.04,5.0,58dbd0b2d70206bf40e62cd34e84d795,1.0,credit_card,3.0,13226,varzea paulista,SP,87900,loanda,PR,Quincalerie
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
102858,fffc94f6ce00a00581880bf54a75a037,1,4aa6014eceb682077f9dc4bffebc05b0,b8bc237ba3788b23da09c0f1f3a3288c,2018-05-02 04:11:01,299.99,43.41,343.40,5.0,b51593916b4b8e0d6f66f2ae24f2673d,1.0,boleto,1.0,65077,sao luis,MA,88303,itajai,SC,Housing
102859,fffcd46ef2263f404302a634eb57f7eb,1,32e07fd915822b0765e448c4dd74c828,f3c38ab652836d21de61fb8314b69182,2018-07-20 04:31:48,350.00,36.53,386.53,5.0,84c5d4fbaf120aae381fad077416eaa0,1.0,boleto,1.0,81690,curitiba,PR,1206,sao paulo,SP,Informatique et electronique
102860,fffce4705a9662cd70adb13d4a31832d,1,72a30483855e2eafc67aee5dc2560482,c3cfdc648177fdbbbb35635a37472c53,2017-10-30 17:14:25,99.90,16.95,116.85,5.0,29309aa813182aaddc9b259e31b870e6,1.0,credit_card,3.0,4039,sao paulo,SP,80610,curitiba,PR,Sport
102861,fffe18544ffabc95dfada21779c9644f,1,9c422a519119dcad7575db5af1ba540e,2b3e4a2a3ea8e01938cabda2a3e5cc79,2017-08-21 00:04:32,55.99,8.72,64.71,5.0,b5e6afd5a41800fdf401e0272ca74655,1.0,credit_card,3.0,13289,vinhedo,SP,4733,sao paulo,SP,Informatique et electronique
102862,fffe41c64501cc87c801fd61db3f6244,1,350688d9dc1e75ff97be326363655e01,f7ccf836d21b2fb1de37564105216cc1,2018-06-12 17:10:13,43.00,12.79,55.79,5.0,96d649da0cc4ff33bb408b199d4c7dcf,1.0,credit_card,1.0,18605,botucatu,SP,14940,ibitinga,SP,Housing

In [176]:
dfOrderItemsMerge.to_csv("dfClean.csv",index=False)